<ion-content class="ion-no-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        style="text-align: center; font-family: Arial, Helvetica, sans-serif"
      >
        <h3>Generar Venta</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="formData" (ngSubmit)="sendNewSales()">
    <ion-list style="text-align: center">
      <ion-item-divider>
        <ion-label> Datos del cliente (Opcional) </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cedula</ion-label>
        <ion-input type="number" formControlName="dni" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hospedaje</ion-label>
        <ion-input type="text" formControlName="host" name="host"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ciudad de Procedencia</ion-label>
        <ion-input
          type="text"
          formControlName="citylife"
          name="citylife"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input
          type="number"
          formControlName="phone"
          name="phone"
        ></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label> Vendedor y Zona de venta </ion-label>
      </ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Vendedor</ion-label>
              <ion-input
                style="pointer-events: none"
                type="text"
                formControlName="seller"
                name="seller"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Zona</ion-label>
              <ion-input
                style="pointer-events: none"
                type="text"
                formControlName="zone"
                name="zone"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider>
        <ion-label> Servicios a vender </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Combo o plan</ion-label>
        <ion-select
          placeholder="Seleccionar"
          formControlName="detail"
          (ionChange)="onChangePlan($event)"
        >
          <ion-select-option *ngFor="let item of data" value="{{item.id}}"
            >{{item.name | titlecase}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <!-- ************************ -->
      <ng-container *ngIf="arraySelectPlan && arraySelectPlan.length > 0">
        <ion-card>
          <ion-card-header style="text-align: left">
            <ion-card-subtitle>Detalle Venta actual (Combos)</ion-card-subtitle>
            <ion-card-title>Planes Adquiridos</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row *ngFor="let item of arraySelectPlan">
                <ion-col size="8" style="text-align: left">
                  <ion-label>{{item.name | titlecase}}</ion-label>
                </ion-col>
                <ion-col size="3" style="text-align: left">
                  <ion-label>${{item.totalvalue}}</ion-label>
                </ion-col>
                <ion-col size="1">
                  <img
                    (click)="removeItemFromArrPlan(item)"
                    src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                    width="15"
                    height="20"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ion-item>
        <ion-label>Servicios individuales</ion-label>
        <ion-select
          placeholder="Seleccionar"
          formControlName="service"
          (ionChange)="onChange($event)"
        >
          <ion-select-option *ngFor="let item of services" value="{{item.id}}"
            >{{item.name | titlecase}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@ -->
      <ng-container *ngIf="arraySelect && arraySelect.length > 0">
        <ion-card>
          <ion-card-header style="text-align: left">
            <ion-card-subtitle>Detalle Venta actual </ion-card-subtitle>
            <ion-card-title>Servicios Adquiridos</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row *ngFor="let item of arraySelect">
                <ion-col size="8" style="text-align: left">
                  <ion-label>{{item.name | titlecase}}</ion-label>
                </ion-col>
                <ion-col size="3" style="text-align: left">
                  <ion-label>${{item.publicvalue}}</ion-label>
                </ion-col>
                <ion-col size="1">
                  <img
                    (click)="removeItemFromArr(item)"
                    src="https://img.icons8.com/plasticine/2x/delete-sign.png"
                    width="20"
                    height="20"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ng-container>
      <!-- 
      <ion-item>
        <ion-label>Medio de Pago</ion-label>

        <ion-select placeholder="Seleccionar" formControlName="zone">
          <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          <ion-select-option value="Efectivo">Efectivo</ion-select-option>
        </ion-select>
      </ion-item>
-->
      <ion-item-divider>
        <ion-label>Comisión</ion-label>
      </ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Comisión:</ion-label>
            <ion-input
              placeholder="2000"
              type="number"
              formControlName="commission"
              name="commission"
            ></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
      <ion-item-divider>
        <ion-label>Escanear codigo de manilla </ion-label>
      </ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Escanear codigo:</ion-label>
              <ion-input
                placeholder="0000000000"
                type="text"
                formControlName="codebar"
                name="codebar"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4" style="padding-top: 19px">
            <ion-button color="danger" (click)="addCodeManula()"
              >Añadir</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button color="warning" (click)="scanCode()"
              ><img
                width="22"
                height="22"
                src="https://images.vexels.com/media/users/3/157862/isolated/preview/5fc76d9e8d748db3089a489cdd492d4b-barcode-scanning-icon-by-vexels.png"
                alt=""
              />
              - SCAN</ion-button
            >
            <ion-button color="danger" (click)="addRangeCodes()"
              >Generar Consecutivos</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <br />
      <ng-container *ngIf="scannedData.length > 0">
        <p>Numero de Codigos añadidos: {{ scannedData.length }}</p>
        <div class="codebox">
          <p *ngFor="let item of scannedData">
            <img
              width="22"
              height="22"
              src="https://images.vexels.com/media/users/3/157862/isolated/preview/5fc76d9e8d748db3089a489cdd492d4b-barcode-scanning-icon-by-vexels.png"
              alt=""
            />
            &nbsp; {{ item }}
            <img
              (click)="removeItemFromArrCodeBar(item)"
              src="https://img.icons8.com/plasticine/2x/delete-sign.png"
              width="20"
              height="20"
              style="float: right"
            />
          </p>
        </div>
      </ng-container>
      <br />
      <ion-button color="primary" (click)="resetForm()">Limpiar</ion-button>
      <ion-button color="dark" [disabled]="!formData.valid" type="submit"
        >Guardar</ion-button
      >
      <ion-item>
        <ion-label *ngIf="scannedData.length > 0"
          >Total: {{(totalValue + total) * scannedData.length }}
        </ion-label>
        <ion-label *ngIf="scannedData.length === 0"
          >Total: {{(totalValue + total) }}
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
