<ion-header>
  <ion-toolbar>
    <ion-title>
      Novedades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="no-margin">
    <ion-card-header>
      <ion-card-title>Mi cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="contact"></ion-icon> Usuario Name
      </p>
      <p>
        <ion-icon name="map"></ion-icon> Zona de servicio
      </p>
      <ion-button slot="start">Cambiar contraseña</ion-button>
      <ion-button color="warning" slot="end">Editar</ion-button>

    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-col>
      <ion-button color="danger" (click)="colse()">Cerra sesión</ion-button>

    </ion-col>
  </ion-grid>
  <ion-grid>
    <!-- Default Segment -->
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="Cierres">
        <ion-label>Cierres</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Planes">
        <ion-label>Planes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-grid>
  <ion-grid *ngIf="tabSelected == 'Planes'">


    <ion-col>
      <p>Planes Disponibles</p>
    </ion-col>
    <ion-row class="header">
      <ion-col size="8">
        Plan
      </ion-col>
      <ion-col size="4">
        Costo
      </ion-col>
    </ion-row>
    <ng-container *ngIf="data.length > 0">
      <ion-row *ngFor="let item of data">
        <ion-col size="8">
          {{ item.name }}
        </ion-col>
        <ion-col size="4">
          {{ item.totalvalue }}
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>
  <ion-grid *ngIf="tabSelected == 'Cierres'">
    <ion-col size="12">
      <ion-button color="success" (click)="presentModal()">Generar Cierre</ion-button>
    </ion-col>
    <ion-col>
      <p>Cierres Registrado</p>
    </ion-col>
    <ion-row class="header">
      <ion-col size="7">
        Cierre Fecha
      </ion-col>
      <ion-col size="5">
        Valor entrega
      </ion-col>
    </ion-row>
    <ng-container *ngIf="datatClose.length > 0 && tabSelected == 'Cierres'">
      <ion-row *ngFor="let item of datatClose">
        <ion-col size="7">
          {{ item.date }}
        </ion-col>
        <ion-col size="5">
          {{ item.totalDelivery }}
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>


</ion-content>