<ion-content>
  <div class="full">
    <img src="../../assets/icon-home.png">
    <img src="../../assets/icon-texto.png">
    <br>
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label>Usuarios</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="user">
          <ion-select-option *ngFor="let item of data" value="{{item.user}}">{{item.user}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="one">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="dark" (click)="login()">Ingresar</ion-button>
    <ion-item>
      <ion-label position="floating" color="one">Scan manual</ion-label>
      <ion-input type="text" [(ngModel)]="codemanual" autofocus="true"  (ionInput)='onChangeTime($event.target.value)'></ion-input>
    </ion-item>
    <ion-button color="primary" class="end-position" (click)="scanCode()">Modo Scan</ion-button>
  </div>
</ion-content>